:root {
  --color-font: light-dark(#000, #fff);
  --sans: system-ui, sans-serif;
  --mono: 'Monaco', 'Consolas', monospace;
}

:root {
  color-scheme: light dark;
  font-family: var(--sans);
  text-autospace: normal;
}

body {
  line-height: 1.5;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  min-height: 100vh;
  padding: 10px;

  animation: show 0.4s;
}

button {
  font-size: 0.75em;
  font-family: var(--sans);
}

p,
ul {
  margin-block: unset;
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
