:root {
  --sans: system-ui, sans-serif;
  --mono: 'Monaco', 'Consolas', monospace;
}

:root {
  font-family: var(--sans);

  text-autospace: normal;
}

body {
  font-family: var(--sans);
  line-height: 1.5;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  gap: 8px;

  box-sizing: border-box;
  min-height: 100vh;
  padding: 10px;
}

button {
  font-size: 0.75em;
  font-family: var(--sans);
}

p,
ul {
  margin-block: unset;
}
